<html>
	<head>
	    <meta charset="utf-8" />
	    <title>Loading...</title>
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	</head>
	<body class="container">
		<h1>Ufront Admin Console</h1>
		<div class="row">
			<div class="span2">
				<ul id="main-nav" class="nav-list nav">
					<li><a href="./">Home</a></li>
					<li><a href="migrations/">Migrations</a></li>
					<li><a href="tasks/">Tasks</a></li>
					<li><a href="users/">Users</a></li>
					<li><a href="db/">Database</a></li>
				</ul>
			</div>
			<div id="main-content" class="span10"></div>
		</div>
	</body>
</html>
