<div class="row">
	<div class="col-sm-8">
		<div class="jumbotron">
			<h1>UF Admin Login</h1>
			<p>To access the Ufront Admin area you must be logged in.</p>
		</div>
	</div>
	<div class="col-sm-4">
		<form method="post" action="$prefix/login/">
			<form role="form">
				<div class="form-group">
					<label for="user">Username</label>
					<input type="text" class="form-control" name="user" id="user" placeholder="Enter username" value="$existingUser">
				</div>
				<div class="form-group">
					<label for="pass">Password</label>
					<input type="password" class="form-control" name="pass" id="pass" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-default">Login</button>
			</form>

		</form>
	</div>
</div>