<form method="post" action="tasks/run/" style="background: white">
	<input type="hidden" name="taskSet" value="$taskSetName" />
	<table class='table table-bordered'>
		<thead>
			<tr>
				<td colspan="3">
					<h3>$taskSetTitle</h3>
					<p>$taskSetDescription</p>
					<div dtx-name="taskSetInputsContainer"></div>
				</td>
				<td>
					<button type="submit" name="runAll" value="true" class="btn btn-success2">Run Entire Set</button>
				</td>
			</tr>
		</thead>
		<tbody dtx-name="taskListContainer">
			<tr>
				<th>Task Name</th>
				<th>Description</th>
				<th>Last Run</th>
				<th>Action</th>
			</tr>
		</tbody>
	</table>
</form>

<_IndividualTask>
	<tr>
		<td>$title</td>
		<td>$description</td>
		<td>$lastRun</td>
		<td>
			<div dtx-name="taskInputsContainer"></div>
			<button type="submit" name="task" value="$name" class="btn">Run $title</button>
		</td>
	</tr>
</_IndividualTask>